*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* height: 100vh; */
  background: #CCCCCC	;
}

.box{
font-size: 50px;
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1.2;
  text-align: center;
  position: absolute;
    left: 235px;
    top: -20px;
  
}

.box2{
  font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6;
    line-height: 1.2;
    text-align: center;
    position: absolute;
      left: 380px;
      top: -20px;
    
  }

  .box3{
    font-size: 50px;
      font-family: 'Share Tech Mono', monospace;
      color: #daf6ff;
      text-shadow: 0 0 20px #FF0000;
      line-height: 1.2;
      text-align: center;
      position: absolute;
        left: 590px;
        top: -20px;
      
    }

    .box4{
      font-size: 50px;
        font-family: 'Share Tech Mono', monospace;
        color: #daf6ff;
        text-shadow: 0 0 20px #008000; 
        line-height: 1.2;
        text-align: center;
        position: absolute;
          left: 780px;
          top: -20px;
        
      }

      .box5{
        font-size: 50px;
          font-family: 'Share Tech Mono', monospace;
          color: #daf6ff;
          text-shadow: 0 0 20px #0000FF;
          line-height: 1.2;
          text-align: center;
          position: absolute;
            left: 970px;
            top: -20px;
          
        }

        .box6{
          font-size: 50px;
            font-family: 'Share Tech Mono', monospace;
            color: #daf6ff;
            text-shadow: 0 0 20px #0aafe6;
            line-height: 1.2;
            text-align: center;
            position: absolute;
              left: 20px;
              top: -50px;
            
          }

          .button {
            background-color: #CCCCCC;
            border-radius: 0.5em;
            box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
            color: #999999;
            font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
            font-size: 2em;
            padding: 0.7em 2em;
            position: absolute;
            top: 590px;
            left: 1100px;
            text-decoration: none;
            transform: translateX(-50%);
            transition: all 0.2s ease;
          }
          .button:hover {
            background-color: #666666;
            transform: translate(-50%, 0.15em);
            box-shadow: 0 0.15em 0 #222222;
          }
          .button:active {
            box-shadow: 0 0 0 #7A5A7A;
            transform: translate(-50%, 0.25em);
          }

  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }
  input[type=range]:focus.range-style {
    outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type=range]::-moz-range-thumb {
    border: none;
  }
  
  .range-style {
    width: 400px;
    height: 100px;
    padding: 20px;
    background: #CCCCCC;
    border-radius: 10px;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    left: 70px;
    top: 300px;

  }
  .range-style::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style::-webkit-slider-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .range-style::-moz-range-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style::-moz-range-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC	;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  
  
  
  .range-style2 {
    width: 400px;
    height: 100px;
    padding: 20px;
    background: #CCCCCC;
    border-radius: 10px;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    left: 260px;
    top: 300px;

  }
  .range-style2::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style2::-webkit-slider-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .range-style2::-moz-range-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style2::-moz-range-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC	;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .range-style3 {
    width: 400px;
    height: 100px;
    padding: 20px;
    background: #CCCCCC;
    border-radius: 10px;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    left: 450px;
    top: 300px;

  }
  .range-style3::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style3::-webkit-slider-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .range-style3::-moz-range-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style3::-moz-range-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC	;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .range-style4 {
    width: 400px;
    height: 100px;
    padding: 20px;
    background: #CCCCCC;
    border-radius: 10px;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    left: 640px;
    top: 300px;

  }
  .range-style4::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style4::-webkit-slider-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .range-style4::-moz-range-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style4::-moz-range-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC	;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  .range-style5 {
    width: 400px;
    height: 100px;
    padding: 20px;
    background: #CCCCCC;
    border-radius: 10px;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    left: 830px;
    top: 300px;

  }
  .range-style5::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style5::-webkit-slider-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  .range-style5::-moz-range-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  .range-style5::-moz-range-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC	;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

