*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* display: flex;
  align-items: center;
  justify-content: center; */
    /* height: 100vh; */
    background: #CCCCCC;
}

.box {
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6;
    line-height: 1.2;
    text-align: center;
    
}
#box_1{
    position: absolute;
    left: 41px;
    top: -20px;
}

#box_2{
    position: absolute;
    left: 147px;
    top: -20px;
}
#box_9{
    position: absolute;
    left: 60px;
    top: 510px;
}



.box2 {
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px #FF0000;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 590px;
    top: -20px;
}

#box_3{
    position: absolute;
    left: 317px;
    top: -20px;
}

#box_6{
    position: absolute;
    left: 763px;
    top: -20px;
}


.box3 {
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px #008000;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 780px;
    top: -20px;
}

#box_4{
    position: absolute;
    left: 465px;
    top: -20px;
}

#box_7{
    position: absolute;
    left: 915px;
    top: -20px;
}

.box4 {
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
    color: #daf6ff;
    text-shadow: 0 0 20px #0000FF;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    left: 970px;
    top: -20px;
}

#box_5{
    position: absolute;
    left: 613px;
    top: -20px;
}
#box_8{
    position: absolute;
    left: 1070px;
    top: -20px;
}

.button {
    background-color: #CCCCCC;
    border-radius: 0.5em;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #999999;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2em;
    padding: 0.7em 2em;
    position: absolute;
    top: 580px;
    left: 1100px;
    text-decoration: none;
    transform: translateX(-50%);
    transition: all 0.2s ease;
}

.button:hover {  
    background-color: #666666;
    transform: translate(-50%, 0.15em);
    box-shadow: 0 0.15em 0 #222222;
}

.button:active {
    box-shadow: 0 0 0 #7A5A7A;
    transform: translate(-50%, 0.25em);
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=range]:focus.range-style {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    border: none;
}

.range-style {
    width: 400px;
    height: 100px;
    padding: 20px;
    background: #CCCCCC;
    border-radius: 10px;
    box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    
}

.range-style::-webkit-slider-runnable-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-webkit-slider-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.range-style::-moz-range-track {
    display: flex;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-moz-range-thumb {
    position: relative;
    top: -50%;
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
    border-radius: 50%;
    box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#slider{ 
    position: absolute;
    left: -120px;
    top: 300px;
}
#slider2{
    position: absolute;
    left: 20px;
    top: 300px;
}
#slider3{
    position: absolute;
    left: 170px;
    top: 300px;
}
#slider4{
    position: absolute;
    left: 320px;
    top: 300px;
}
#slider5{
    position: absolute;
    left: 470px;
    top: 300px;
}
#slider6{
    position: absolute;
    left: 620px;
    top: 300px;
}
#slider7{
    position: absolute;
    left: 770px;
    top: 300px;
}
#slider8{
    position: absolute;
    left: 920px;
    top: 300px;
}








